body {
  background: #fff;
  margin: 0;
  font-family: "PT Sans", sans-serif; }

a {
  text-decoration: none; }

.container {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto; }

header {
  background: #eee; }
  header #five-five-logo {
    width: 300px;
    margin: -30px 0 0 60px;
    height: auto;
    display: inline-block; }
    header #five-five-logo #side {
      fill: #b22b2d; }
    header #five-five-logo #face {
      fill: #fff; }
  header h1 {
    color: #b22b2d;
    font-size: 32px;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    margin: 0;
    position: relative;
    left: -110px;
    top: -55px; }
    header h1 em {
      font-style: normal;
      font-weight: 400; }

nav {
  margin-top: 2px;
  background-color: #2c7ab2;
  padding: 6px 0; }
  nav a {
    padding: 15px 0;
    width: 33.3%;
    display: inline-block;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.3); }
    nav a:first-child {
      border-left: 1px solid rgba(255, 255, 255, 0.3); }

#content {
  padding-top: 30px; }
  #content .oneChallenge {
    border-radius: 8px;
    background-color: #b22b2d;
    margin: 30px 0 50px;
    color: #fff; }
    #content .oneChallenge:nth-child(2n) {
      background-color: #2c7ab2; }
