body {
  background: #fff;
  margin: 0;
  font-family: "PT Sans", sans-serif; }

a {
  text-decoration: none; }

.container {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto; }

header {
  background: #e2e2e2; }
  header #five-five-logo {
    width: 225px;
    margin: -30px 0 0 40px;
    height: auto;
    display: inline-block; }
    header #five-five-logo #side {
      fill: #b22b2d; }
    header #five-five-logo #face {
      fill: #fff; }
  header h1 {
    color: #b22b2d;
    font-size: 32px;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    margin: 0;
    position: relative;
    left: -80px;
    top: -40px; }
    header h1 em {
      font-style: normal;
      font-weight: 400; }

nav {
  background-color: #f2f2f2;
  padding: 0;
  text-align: center;
  height: 66px;
  overflow: hidden; }
  nav div.button {
    width: 20%;
    display: inline-block;
    cursor: pointer; }
    nav div.button > div {
      padding: 20px;
      height: 26px;
      font-size: 17px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px; }
      nav div.button > div.face {
        color: #2c7ab2;
        background-color: transparent; }
      nav div.button > div.tail {
        visibility: hidden;
        color: #f2f2f2;
        background-color: #2c7ab2; }

#filterArea {
  padding: 5px 0;
  background-color: #2c7ab2; }

#content > .oneChallenge {
  background-color: #f2f2f2;
  padding: 30px 0 40px; }
  #content > .oneChallenge:nth-child(2n) {
    background-color: #e2e2e2; }
