body nav div.button > div {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transform-origin: top; }
  body nav div.button > div.face {
    transform: perspective(100px) rotateX(0) scaleY(1) scaleX(1); }
  body nav div.button > div.tail {
    transform: perspective(100px) rotateX(-50deg) scaleY(0) scaleX(0.8) translateY(-66px); }

body nav div.button:hover > div.face {
  transform: perspective(100px) rotateX(70deg) scaleY(0) scaleX(0.8); }

body nav div.button:hover > div.tail {
  visibility: visible;
  transform: perspective(100px) rotateX(0deg) scaleY(1) scaleX(1) translateY(-66px); }

img.entryImage {
  max-width: 120px; }
