@import 'config';

body{
    background: #fff;
    margin: 0;
    font-family: $fontFamily;
}

a{
    text-decoration: none;
}

.container{
    max-width: $containerWidth;
    text-align: center;
    margin: 0 auto;
}

header{
    background: $darkGrayColor;
    #five-five-logo {
        width: 225px;
        margin: -30px 0 0 40px;
        height: auto;
        display: inline-block;

        #side{
            fill: $primaryColor;
        }

        #face{
            fill: #fff;
        }
    }

    h1{
        color: $primaryColor;
        font-size: 32px;
        text-transform: uppercase;
        display: inline-block;
        letter-spacing: 2px;
        margin: 0;
        position: relative;
        left: -80px;
        top: -40px;

        em{
            font-style: normal;
            font-weight: 400;
        }
    }
}

nav{
    background-color: $lightGrayColor;
    padding: 0;
    text-align: center;

    a{
        padding: 25px 0;
        width: 20%;
        display: inline-block;
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $secondaryColor;
        text-shadow: 0 0 1px rgba(255,255,255,0.8);
        border-right: 1px solid rgba(255,255,255,0.3);

        &:first-child{
            border-left: 1px solid rgba(255,255,255,0.3);
        }
    }
}

#filterArea{
    padding: 5px 0;
    background-color: $secondaryColor;
}

#content{

    > .oneChallenge{
        background-color: $lightGrayColor;
        padding: 30px 0 40px;

        &:nth-child(2n){
            background-color: $darkGrayColor;
        }

        .entries{

        }
        .menuArea{

        }
        .timelineArea{

        }

    }

}