@mixin transitionAll($duration) {
    -webkit-transition: all $duration ease-in-out;
    -moz-transition:    all $duration ease-in-out;
    -ms-transition:     all $duration ease-in-out;
    -o-transition:      all $duration ease-in-out;
}